.vs/server/v15/ipch/f45e81b6f92a0a2.ipch
.vs/server/v15/ipch/AutoPCH/c70cccaf2ad34609/GAMECONFIG.ipch
.vs/server/v15/ipch/AutoPCH/c512981c6a10265e/MAIN.ipch
.vs/server/v15/ipch/AutoPCH/824917120be6fa39/DEBUGSERVER.ipch
.vs/server/v15/Solution.VC.db-wal
.vs/server/v15/Solution.VC.db-shm
.vs/server/v15/Solution.VC.db
.vs/server/v15/Browse.VC.opendb
.vs/server/v15/Browse.VC.db
.vs/server/v15/.suo
yuncloud/
test/Debug/test.log
test/Debug/test.Build.CppClean.log
test/
server/Debug/
lua/Debug/
Debug/
server/lib/
.vs/
